<!-- <h2>Halaman Kontak</h2> -->


<form action="#">
	<input type="text" placeholder="Nama" required>
	<br >
	<input type="email" placeholder="Email" required>
	<br >
	<input type="text" placeholder="Judul pesan" required>
	<br >
	<textarea rows="3" cols="20" placeholder="Tulis pesan anda disini...">
	
	</textarea>
	<br >
	<label for="cek">5+3 = </label>
	<input type="text"id="cek" required>hanya memastikan bahwa anda manusia
	<br >
	<button>Kirim</button>
</form>