<h2>Halaman Kontak cuy</h2>	
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, autem dolore quasi pariatur porro eveniet molestias dicta minus numquam ab. Labore facilis expedita libero in cupiditate quod est totam saepe.
</p>