<section id="fitur">
	<div class="baris">
        <div class="zeen-12">
            <h1>
                Dengan banyaknya penyedia jasa hosting indonesia borneohosting memberikan harga dan pelayanan yang terbaik untuk para pelanggan. 
            </h1>
        </div>
        <div class="garis"></div>
    </div><!-- baris -->
</section>

<section id="paket">
    <div class="baris">
        <div class="zeen-3">
	        <div class="kotak">
    	        <h3>Reguler <span>10K/bulan</span></h3>
                <ul>
                    <li>Space 500 MB</li>
                    <li>Banwidth Unlimited</li>
                    <li>5 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Daily Backup</li>
                    <li>Softaculous</li>
        	    </ul>      
            	<div class="tombol">
                	<button onclick="window.location.href='/hosting'">Beli</button>
               	</div><!-- tombol -->
            </div><!-- kotak -->
        </div><!-- zeen-3 -->
        <div class="zeen-3">
        	<div class="kotak">
                <h3>Silver<span>18K/bulan</span></h3>
                <ul>
                    <li>Space 1 GB</li>
                    <li>Banwidth Unlimited</li>
                    <li>15 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
                </ul>
                <div class="tombol">
                    <button onclick="window.location.href='/hosting'">Beli</button>
                </div><!-- tombol -->
            </div>
        </div>
        <div class="zeen-3">
        	<div class="kotak">
                <h3>Gold<span>28K/bulan</span></h3>
            	<ul>
                    <li>Space 1.5 GB</li>
                    <li>Banwidth Unlimited</li>
                    <li>20 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
                </ul>
                              
                <div class="tombol">
                    <button onclick="window.location.href='/hosting'">Beli</button>
                </div><!-- tombol -->
            </div>
        </div>
        <div class="zeen-3">
            <div class="kotak">
                <h3>Platinum<span>30K/bulan</span></h3>
                <ul>
                    <li>Space 2 GB</li>
                    <li>Banwidth Unlimited</li>
                    <li>25 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
                </ul>
	        	<div class="tombol">
	            	<button onclick="window.location.href='/hosting'">Beli</button>
	            </div><!-- tombol -->
          	</div><!-- kotak -->
        </div>

    </div><!-- baris -->
</section>