<section id="fitur">
	<div class="baris">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, fugit omnis eaque rerum accusantium quae sapiente molestiae quas velit sit est corporis non id ea temporibus delectus repellat inventore porro?
		</p>
	</div>
</section>

<section id="paket">
    <div class="baris">
        <div class="zeen-3">
	        <div class="kotak">
    	        <h3>Reguler <span>10K/bulan</span></h3>
                <ul>
                    <li>500 MB</li>
                    <li>Banwidth Unlimited</li>
                    <li>5 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
        	    </ul>      
            	<div class="tombol">
                	<button onclick="window.location.href='/hosting'">Beli</button>
               	</div><!-- tombol -->
            </div><!-- kotak -->
        </div><!-- zeen-3 -->
        <div class="zeen-3">
        	<div class="kotak">
                <h3>Silver<span>18K/bulan</span></h3>
                <ul>
                    <li>1 GB</li>
                    <li>Banwidth Unlimited</li>
                    <li>15 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
                </ul>
                <div class="tombol">
                    <button onclick="window.location.href='/hosting'">Beli</button>
                </div><!-- tombol -->
            </div>
        </div>
        <div class="zeen-3">
        	<div class="kotak">
                <h3>Gold<span>28K/bulan</span></h3>
            	<ul>
                    <li>1.5 GB</li>
                    <li>Banwidth Unlimited</li>
                    <li>20 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
                </ul>
                              
                <div class="tombol">
                    <button onclick="window.location.href='/hosting'">Beli</button>
                </div><!-- tombol -->
            </div>
        </div>
        <div class="zeen-3">
            <div class="kotak">
                <h3>Platinum<span>30K/bulan</span></h3>
                <ul>
                    <li>2 GB</li>
                    <li>Banwidth Unlimited</li>
                    <li>25 FTP Account</li>
                    <li>24/7 Support</li>
                    <li>Softaculous</li>
                </ul>
	        	<div class="tombol">
	            	<button onclick="window.location.href='/hosting'">Beli</button>
	            </div><!-- tombol -->
          	</div><!-- kotak -->
        </div>

    </div><!-- baris -->
</section>