<nav>
    <ul>
        <li><a href="/">Awal</a></li>
        <li><a href="#">Fitur</a></li>
        <li><a href="#">Hosting</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="/kontak">Kontak</a></li>
    </ul>  
</nav>