<nav>
    <ul>
        <li><a href="/">Awal</a></li>
        <li><a href="/fitur">Fitur</a></li>
        <li><a href="/hosting">Hosting</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="/kontak">Kontak</a></li>
    </ul>  
</nav>