body{
	font-family: arial;
	background:image-url('head-bg.jpg') top center repeat-x;
	background-attachment: fixed;
	color: $mainFontCol;
}

h1,h2,h3{
	font-family: 'Titillium Web', sans-serif;
}

p{	
	margin-top: 0;
	font-size: 15px;
	line-height: 25px;
}

.garis{
	display: block;
	border-bottom: 1px solid  lighten($secColor,45%);
	clear: both;
}

.kuning{
	color: $mainColor;
}

/*******************************************************************************/
/*     header
/*******************************************************************************/

#header{
	background: $mainColor;
	// padding:30px 0 0 0;
	@include box-shadow(#444 0 -7px 0 inset);
}

#logo{
	float: left;
	img{
		margin-top: 15px;
	}
}

#slide{
	overflow: hidden;
	display: block;
	padding: 100px 0;

	strong{
		font-family: 'Titillium Web', sans-serif;
		font-size: 45px;
		float: left;
		padding:15px;
		background: rgba($mainColor,0.5);
		color:rgba(#fff,0.8);
	}
	em{
		font-family: 'Titillium Web', sans-serif;
		font-style: normal;
		font-size: 35px;
		clear: left;
		float: left;
		padding:15px;
		background: rgba(#fff,0.5)
	}
}

nav{
	float: right;
	ul{
		padding:0;
		margin:0;
	}
	li{
		@include transition-duration(0.5s);
		list-style:none;
		float: left;
		&:hover{
			background: lighten($mainColor,30%);
		}
		a{
			@include transition-duration(0.5s);
			font-family: 'Titillium Web', sans-serif;
			text-decoration: none;
			color:$mainFontCol;
			padding: 40px 15px 30px 15px;
			display: block;

			&.active{
				color: #444;
				background: rgba(#fff,0.7);
				@include box-shadow($mainColor 0 -7px 0 inset);
			}
			&:hover{
				background: #fff;
				@extend .active;
			}
		}		
	}
}

/*******************************************************************************/
/*     section
/*******************************************************************************/


#konten{
	background: $kontenColor;
	padding: 20px 0;	
}

#fitur{
	text-align: center;
	i{
		font-size: 100px;
		display: block;
		margin-top: 25px;
	}
	h2{
		margin:0;
		// color:$mainColor;
	}
	p{
		color:lighten($secColor,20%);
	}

	.tombol{
		margin:15px 0 80px 0;
		display: block;

		&:after{
			border-top: solid 1px lighten($secColor,45%);
			display: block;
			content: "";
			margin-top: -20px;
		}
	}

	button{
		@include tombol;
	}
}



#paket{
	margin-top: 1.5em;
	@extend #fitur;
	@include transition-duration(1s);

	h3{
		@include transition-duration(1s);
		font-size: 30px;
		background:darken($mainColor,10%);
		color: #fff;
		margin: 0;
		padding:0 0 10px 0;
		
		&:before{
			@include transition-duration(1s);
			padding:5px 0;
			content: "Paket";
			background:darken($mainColor,20%);
			font-size: 13px;
			display: block;
		}

		span{
			margin-top: 5px;
			font-size: 15px;
			display: block;
		}
	}

	[class*="zeen"]{
		&:nth-child(even){
			h3{
				@include transition-duration(1s);
				background: lighten($secColor,15%);
			
				&:before{
					@include transition-duration(1s);
					background:darken($secColor,5%);
				}
			}

			
			.tombol{
				&:after{
					content: none;
				}
				button{
					@include tombol(lighten($secColor,15%), #fff, transparent);
				}
			}		
		}		
	}


	.kotak{
		@include transition-duration(1s);
		@include box-shadow(1px 1px 0px lighten($secColor,30%));
		background: #fff;
		padding: 10px;
		margin-bottom: 50px;

		p{
			margin:0;
		}
		

		.tombol{
			&:after{
				content: none;
			}
			button{
				@include tombol($mainColor, #fff, transparent);
			}
		}
	}
	.tombol{
		margin-bottom: 0;
		display: block;
		button{
			@include tombol;
		}
	}

	ul{
		margin:10px 0 0 0;
		padding: 0;

		li{
			@include transition-duration(1s);
			list-style: none;
			color:lighten($secColor,20%);
			text-decoration: none;
			font-size: 15px;
			line-height: 35px;
			border-bottom: 1px solid lighten($secColor,65%);
			
			&:hover{
				background: lighten($secColor,78%);
				
			}
		}
	}
}



#klien{

	background: #e2e2e2;
	margin-bottom: 50px;
	padding: 25px;
	text-align: center;
	img{
		@include transition-duration(1s);
		opacity: 0.7;
		margin:10px;
	}
	&:hover{
		img{
			opacity: 1;
		}
	}
}


#beli{
	// display: none;
	margin:40px 0;
	.kotak{
		overflow: hidden;
		padding: 25px 15px;
		background: #fff;
	}
	p{
		margin-bottom: 0;
		float: left;
		width: 75%;
	}
	button{
		float: right;
		@include tombol($mainColor,#fff,transparent);
	}
}

/*******************************************************************************/
/*     aside
/*******************************************************************************/

#aside{
	background: lighten($secColor,10%);
	color:darken(#fff,20%);
	padding:30px 0;
	h2{
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 15px;
	}

	img{
		@include transition-duration(1s);
		display: block;
		margin-bottom: 15px;
		opacity: 0.4;

		&:hover{
			opacity: 1;
		}
	}

	i{
		float: left;
		line-height: 25px;
	}

	p{
		font-size: 13px;
		line-height: 25px;
		margin-bottom: 0;
		margin-left: 25px;
	}

	ul{
		padding: 0;
		margin:0;
		&.jejaring{
			margin-top: 0;
		}
	}

	li{
		padding:0;
		list-style: none;
		a{
			@include transition-duration(1s);
			font-size: 13px;
			line-height: 25px;
			color:darken(#fff,20%);
			text-decoration: none;

			&:hover{
				@include transition-duration(1s);
				color:#fff;
			}
		}
	}
}


/*******************************************************************************/
/*     footer
/*******************************************************************************/
#footer{
	padding:20px 0 0 0;
	@extend #aside;	
	background: darken($secColor,10%);
	p{
		margin:0;
		float: left;
		// line-height: 20px;	
	}

	.kredit{
		text-align: right;
		float: right;

		li{
			display: inline-table;
			margin-left: 15px;
			img{
				float: left;
			}

			&:first-child{
				margin-left: 0;
			}
		}
	}
}


