body{
	font-family: arial;
	background:image-url('head-bg.jpg') top center repeat-x;
	background-attachment: fixed;
	color: $mainFontCol;
}

h1,h2,h3{
	// font-family: 'Titillium Web', sans-serif;
}

/*******************************************************************************/
/*     header
/*******************************************************************************/

#header{
	background: $mainColor;
	// padding:30px 0 0 0;
	@include box-shadow(#444 0 -7px 0 inset);
}

#logo{
	float: left;
	img{
		margin-top: 15px;
	}
}


#slide{
	overflow: hidden;
	display: block;
	padding: 100px 0;

	strong{
		// font-family: 'Titillium Web', sans-serif;
		font-size: 45px;
		float: left;
		padding:15px;
		background: rgba($mainColor,0.5);
		color:rgba(#fff,0.8);
	}
	em{
		// font-family: 'Titillium Web', sans-serif;
		font-style: normal;
		font-size: 35px;
		clear: left;
		float: left;
		padding:15px;
		background: rgba(#fff,0.5)
	}
}

nav{
	float: right;
	ul{
		padding:0;
		margin:0;
	}
	li{
		@include transition-duration(0.5s);
		list-style:none;
		float: left;
		&:hover{
			background: lighten($mainColor,30%);
		}
		a{
			@include transition-duration(0.5s);
			// font-family: 'Titillium Web', sans-serif;
			text-decoration: none;
			color:$mainFontCol;
			padding: 40px 15px 30px 15px;
			display: block;

			&.active{
				color: #444;
				background: rgba(#fff,0.7);
				@include box-shadow($mainColor 0 -7px 0 inset);
			}
			&:hover{
				background: #fff;
				@extend .active;
			}
		}		
	}
}

/*******************************************************************************/
/*     section
/*******************************************************************************/


#konten{
	background: #fff;	
}

#fitur{
	text-align: center;
	i{
		font-size: 100px;
		display: block;
		margin-top: 25px;
	}
	h2{
		margin:0;
		color:$mainColor;
	}
}
