@media only screen and (max-width: 767px) {

	#aside{
		[class*="zeen"]{
				margin-bottom: 25px;
			}
	}

	#footer{
		p{
			text-align: center;
			clear: both;
			width: 100%;

			&.kredit{
				text-align: center;
				clear: both;
			}
		}
		
	}


}