/*******************************************************************************/
/*     responsive
/*******************************************************************************/
@media only screen and (max-width: 767px) {
	#logo{
		display: block;
		float: none;
		text-align: center;
		padding: 25px 0;
	}
	
	nav{
		ul{
			text-align: center;
		}
		float: none;
		li{
			float: none;
			display: inline-block;
			a{
				padding: 30px 5px 20px 5px;
			}
		}
	}

	#beli{
		text-align: center;
		p{
			width: 100%;
			clear: both;
			margin-bottom: 10px;
		}
		button{
			float: none;
		}
	}


	#aside{
		[class*="zeen"]{
				margin-bottom: 25px;
			}

		text-align: center;
		padding-bottom: 0px;

		img{
			margin:auto auto 15px auto;
		}

		i{
			float: none;
		}

		p{
			margin-left: 0;
		}
	}

	#footer{
		padding-bottom: 10px;
		p{
			text-align: center;
			clear: both;
			width: 100%;
		}

		.kredit{
			float: none;
			text-align: center;

			li{
				margin-top: 15px;
			}
		}
		
	}


}